<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

</head>
<body>
	<div class="container mt-15">
		<div class="col-md-12">
			<form th:action="@{/save}" th:object=${persona} method="POST">
				<div class="card">
					<div class="cardheader">
						<h3>MODULO PERSONA</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>CODIGO</label> <input disabled th:field="*{codPersona}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>CEDULA</label> <input disabled th:field="*{cedula}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>NOMBRE</label> <input disabled th:field="*{nombre}" type="text"
								class="form-control" />
						</div>
						<div  class="form-group">
							<label> APELLIDO</label> <input disabled th:field="*{apellido}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>CARGO</label> <input disabled th:field="*{tipoPersona}" type="text"
								class="form-control" />
						</div>
					</div>
					<div class="card-footer">
						<a  th:href="@{/emergencia}" class="btn btn-primary">REGRESAR</a> <br>
						<br>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>